/* <!-- Feel free to remove these styles or customise in your own stylesheet 👍 -->
    <style>
      .attribution {
        font-size: 11px;
        text-align: center;
      }
      .attribution a {
        color: hsl(228, 45%, 44%);
      }
*/

html {
  background-color: hsl(148, 38%, 91%);
}

.container {
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  margin: 80px auto 20px;
  max-width: 500px;
  padding: 25px;
  width: 90%;
}

h1 {
  color: hsl(187, 24%, 22%);
  font-family: karla, sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-top: 8px;
  margin-bottom: 20px;
}

.contact-form {
  color: hsl(187, 24%, 22%);
  font-family: karla, sans-serif;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

span.required {
  color: hsl(169, 82%, 27%);
  margin-left: 4px;
}

.name-row,
.user-details {
  flex: 1;
}
.name-row {
  display: flex;
  gap: 10px;
  margin-bottom: 18px;
}

.user-details label,
.query-type {
  display: block;
  margin-bottom: 6px;
}

.user-details input,
.user-details textarea {
  cursor: pointer;
  border: 1px solid hsl(186, 15%, 59%);
  border-radius: 5px;
  box-sizing: border-box;
  font-family: inherit;
  padding: 8px 10px;
  transition: all 0.2s ease-in-out;
  width: 100%;
}

.user-details input:focus,
.user-details textarea:focus,
.user-details input:not(:placeholder-shown),
.user-details textarea:not(:placeholder-shown) {
  outline: none;
  border-color: hsl(169, 82%, 27%);
}

input[type="email"] {
  margin-bottom: 4px;
}

.radio-group {
  display: flex;
  gap: 10px;
  margin-top: 6px;
  margin-bottom: 4px;
}

.radio-option {
  align-items: center;
  cursor: pointer;
  display: flex;
  border: 1px solid hsl(186, 15%, 59%);
  border-radius: 5px;
  flex: 1;
  padding: 8px 10px;
  transition: all 0.2s ease-in-out;
}

.radio-group label {
  font-size: 12px;
  font-weight: 500;
  color: hsl(187, 24%, 22%);
}

.radio-option input {
  color: hsl(187, 24%, 22%);
  margin-right: 10px;
  width: auto;
}

.radio-option:has(input:checked) {
  background-color: hsl(148, 38%, 91%);
  border-color: hsl(169, 82%, 27%);
  accent-color: hsl(169, 82%, 27%);
}

textarea {
  resize: vertical;
}

.consent-group {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-size: 10px;
  gap: 10px;
  margin: 20px 0;
}

.consent-group input[type="checkbox"] {
  appearance: none;
  border: 1px solid hsl(186, 15%, 59%);
  cursor: pointer;
  display: grid;
  flex-shrink: 0;
  height: 12px;
  place-content: center;
  -webkit-appearance: none;
  width: 12px;
}

.consent-group input[type="checkbox"]:checked {
  background-color: hsl(169, 82%, 27%);
  border-color: hsl(169, 82%, 27%);
}

.consent-group input[type="checkbox"]:checked::after {
  color: white;
  content: "✔";
  font-size: 8px;
}

.consent-group label {
  cursor: pointer;
  white-space: nowrap;
}

.submit-button input[type="submit"] {
  color: hsl(148, 38%, 91%);
  cursor: pointer;
  background-color: hsl(169, 82%, 27%);
  border: none;
  border-radius: 5px;
  font-family: inherit;
  font-size: 12px;
  padding: 12px 20px;
  transition: background-color 0.3s ease;
  width: 100%;
}

.submit-button input[type="submit"]:hover {
  background-color: hsl(167, 96%, 11%);
}

.user-details input,
.user-details textarea,
input[type="email"],
.radio-group {
  margin-bottom: 0px;
}

.error-text {
  color: hsl(0, 66%, 54%);
  display: none;
  font-size: 10px;
  margin-top: 4px;
  margin-bottom: 14px;
}

.user-details.error .error-text,
.radio-group.error + .error-text,
.consent-group.error .error-text {
  display: block;
}
.consent-group .error-text {
  margin-top: 0px;
  margin-bottom: 8px;
  width: 100%;
}

.user-details.error input,
.user-details.error textarea,
.radio-group.error .radio-option {
  border-color: hsl(0, 66%, 54%);
}

.user-details.error,
.radio-group.error {
  margin-bottom: 4px;
}

.user-details:not(.error),
.radio-group:not(.error),
.name-row:not(.error) {
  margin-bottom: 18px;
}

.name-row > .user-details {
  margin-bottom: 0 !important;
}

.name-row:has(.error) {
  margin-bottom: 4px;
}

.sent-popup {
  display: none;
  background-color: hsl(187, 24%, 22%);
  border-radius: 5px;
  color: hsl(0, 0%, 100%);
  font-family: karla, sans-serif;
  font-size: 12px;
  padding: 15px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.sent-popup.show {
  animation: slideIn 0.5s ease-out;
  display: block !important;
}

.message-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.message-header h2 {
  font-size: 16px;
  margin: 0;
}

.message-content p {
  font-size: 10px;
  margin: 0;
  color: hsl(186, 15%, 59%);
}

@media (max-width: 768px) {
  .name-row,
  .radio-group {
    flex-direction: column;
    margin-bottom: 18px !important;
  }
  .name-row .user-details:first-child:not(.error) {
    margin-bottom: 8px !important;
  }
  .name-row .user-details:first-child.error {
    margin-bottom: 4px !important;
  }
  .name-row .user-details:last-child {
    margin-bottom: 0px !important;
  }
  .user-details textarea {
    height: 200px;
  }
  .name-row .user-details.error .error-text {
    margin-bottom: 0px;
  }
}
